@use '../base/fonts';
@use '../base/nav-style';
@use '../base/style';
@import '../components/nav-icons';

.footer {
    padding-bottom: .02rem;
    background-color: fonts.$light-green;
    width: 100%;
    &__icon {
        text-align: center;
    }
    &__column {
        flex-grow: 1;
    }
    & h5 {
        color: fonts.$dark-green;
        font-weight: nav-style.$bold;
    }
    &__link {
        color: fonts.$dark-green;
        transition: all 250ms ease-in;
        padding: .02rem;
        display: flex;
        align-items: center;
    }
    & li {
        line-height: 2.75rem;
    }
    & i {
        line-height: 2.375rem;
        font-size: 1.75rem;
        width: 2.875rem;
        height: 2.875rem;
        text-align: center;
    }

}

.container {
    &:first-of-type {
        margin-top: .03rem;
    }
}

.btn {
    letter-spacing: 0.0813rem;
    font-weight: 500;
    transition: all 250ms ease-in;
}

.social, .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    list-style: none;
    margin: 0 auto;
    & li {
        display: inline-block;
        &:first-of-type {
            margin-right: .02rem;
        }
        &:nth-of-type(3) {
            margin-left: .02rem;
        }
    }
    & li a {
        color: fonts.$dark-green;
        display: inline-block;
        line-height: 2.75rem;
        font-size: 2.25rem;
        width: 2.875rem;
        height: 2.875rem;
    }
}
.fab.social__icon, .fas.footer_icon {
    color: fonts.$dark-green;
    transition: all 250ms ease-in;
    &:active, &:focus, &:hover {
        color: fonts.$orange;
    }
}

.copyright {
    &__text {
        text-align: center;
        font-size: .9rem;
        margin-bottom: 0;
        margin-top: 0;

    }
}


.label {
    visibility: hidden;
}

.email {
    outline: .125rem solid fonts.$dark-green;
    padding: .6rem;
    transition: all 125ms ease-in;
    &:focus, &:active, &:hover {
        outline: .125rem solid fonts.$orange;
        box-shadow: 0 0 0 .125rem fonts.$orange;
    }
}
