@use '../base/fonts';
@import '../components/navbar';


.header {
    background-color: fonts.$light-green;
    margin-bottom: 3%;     //can be changed, just need some margin to see navbar in function
    // position: fixed;        //test for fixed
    position: sticky;       //test for sticky
    top: 0;
}
