
@use 'base/fonts';

//light-green button
.btn--light {
    background-color: $light-green;
    font-family: $font;
    color: $dark-green;
    font-size: 16px; //adjust if needed
    border-radius: 1px;
}

//dark-green button
.btn--dark {
    background-color: $dark-green;
    font-family: $font;
    color: $beige;
    font-size: 16px; //adjust if needed
    border-radius: 1px;
}

.btn:hover {
    background-color: $orange;
    cursor: pointer;
}
