
@use '../base/fonts';

//light-green button
.btn--light {
    background-color: fonts.$light-green;
    font-family: fonts.$font;
    color: fonts.$dark-green;
    font-size: 16px; //adjust if needed
    border-radius: 1px;
}

//dark-green button
.btn--dark {
    background-color: fonts.$dark-green;
    font-family: fonts.$font;
    color: fonts.$beige !important;
    font-size: 16px; //adjust if needed
    border-radius: 1px;
}

.btn:hover {
    background-color: fonts.$orange;
    cursor: pointer;
}

.dark-btn-link {
    text-decoration: none;
}
.dark-btn-link:hover {
    color: fonts.$beige;
}
.dark-btn-link:visited {
    color: fonts.$beige;
}