
.card--custom {
    border: 3px solid fonts.$light-green;
    background-color: fonts.$beige;
}

.card__title {
    font-size: 24px; //adjust if needed
    color: fonts.$dark-green;
    text-align: center;
}

.card__txt {
    font-size: 16px; //adjust if needed
    color: fonts.$dark-green;
}

.card:hover {
    border: 2px solid fonts.$dark-green;
}

.card--filled {
    background-color: fonts.$light-green;
}
