@use '../base/fonts';
@use '../base/nav-style';

  a,
  button {
    font-family: fonts.$font;
  }

  .dropdown {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products {
    position: relative;
  }

  .products ul {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170%;
    background: fonts.$light-green;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: all 0.4s ease;
    list-style: none;
    border-radius: 6px;
  }

  .products li {
    font-size: nav-style.$dropdown-size;
    overflow: hidden;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .products li:hover {
    background-color: nav-style.$nav-hover;

  }

  .dropdown-link-customize {
    color: fonts.$dark-green;
    font-size: nav-style.$nav-size;
    font-weight: nav-style.$bold;
    transition: .2s;
    width: 100%;
    text-decoration: none;
    text-align: center;
      &:hover, &:focus {
        color: fonts.$dark-green;
      }
  }

  .dropdown button {
    background: none;
    text-decoration: none;
    border: none;
    color: fonts.$dark-green;
    font-size: nav-style.$nav-size;
    cursor: pointer;
  }

  .products button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
