@use '../base/fonts';

.box{
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    /* width: 250px; */
}
.box:hover{ box-shadow: 0 0 0 5px rgba(0,0,0,0.1); }
.box:before{
   /* content: '';
    height: 20px;
    width: 20px;
     border-radius: 50%; 
    border: 3px solid #fff;*/
    opacity: 0.9;
/*    position: absolute;
     right: 5px;
    top: 5px; */
    z-index: -1;
    transition: all 0.4s ease-in-out;
    animation: animate 5s infinite linear;
}
.box:hover:before{
    height: 200px;
    width: 280px;
    top: -55px;
    right: -37px;
    z-index: 1;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
}
.box:hover img{ filter: grayscale(100%); }
.box .box-content{
    color: #fff;
    text-align: left;
    width: 200px;
    opacity: 0;
    filter: blur(10px);
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}
.box:hover .box-content{
    filter: blur(0);
    opacity: 1;
    top: 30px;
}
.box .title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    margin: 0 0 2px;
}
.box .post{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 5px;
    left: 13px;
}
.box .icon li a{
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin: 7px 0;
    /* border-radius: 50% 50% 50% 0; */
    display: block;
    transition: all 0.3s;
    animation: animate 5s infinite linear;
}
.box .icon li a:hover{ 
    /* box-shadow: 0 0 0 2px #fff inset;  */
    color: $orange;
}

@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}