@use 'base/fonts';
@use 'base/nav-style';

/*Customized styling for the navbar*/


.nav-customize {
    background-color: fonts.$light-green;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}


.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-link-customize {
    color: fonts.$dark-green;
    font-size: nav-style.$nav-size;
    font-weight: nav-style.$bold;
    transition: .2s;
    &:hover, &:active {
        color: fonts.$orange;
    }
}
