
//font
$font: font-family: 'Montserrat', sans-serif;

//colors
$dark-green: #2A5138; //main-text-color
$light-green: #E1EEDD;
$beige: #FEFCF0; //main-background-color
$orange: #F0A04B; //accent/hover-color

