@use 'fonts';

//nav and footer styling
$bold: 700;
$regular: 400;
$nav-size: 24px;

//dropdown and icon styling
$dropdown-size: 14px;
$footer-size: 20px;
$footer-info: 14px;
$nav-hover: darken(fonts.$light-green, 20%);
$nav-link-color: fonts.$beige;
