@use 'base/fonts';
@import '../components/buttons';

.page__title {
    font-family: fonts.$font;
    color: fonts.$dark-green;
    font-size: 32px;
    text-shadow: 0 0 5px rgba(248, 246, 246, 0.8);
    font-weight: bold;
}

.min-title {
    font-family: fonts.$font;
    color: fonts.$dark-green;
    font-size: 24px;
}

.info-txt {
    font-family: fonts.$font;
    color: fonts.$dark-green;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    font-family: fonts.$font;
    color: fonts.$dark-green;
    font-size: 16px;
}
a:visited {
    color: #508a65;
} 
a:hover {
    color: fonts.$orange;
    cursor: pointer;
}



.nav-bar-input-txt {
    font-size: 14px;
    max-width: 210px;
    &:focus, &:active, &:hover {
        outline: .125rem solid fonts.$orange;
        box-shadow: 0 0 0 .125rem fonts.$orange;
    }
}
.footer-input-txt {
    font-size: 14px;
    max-width: 360px;
    &:focus, &:active, &:hover {
        outline: .125rem solid fonts.$orange;
        box-shadow: 0 0 0 .125rem fonts.$orange;
    }
}

@media only screen  and (max-width: 1137px) {
    a:link {
        font-size: 14px;
    }
    .btn--dark {
        font-size: 14px;
    }

}
@media only screen  and (max-width: 1073px) {
    a:link {
        font-size: 13px;
    }
    .nav-bar-input-txt {
        font-size: 13px;
    }
    .btn--dark {
        font-size: 13px;
    }
}
@media only screen  and (max-width: 1035px) {
    a:link {
        font-size: 12px;
    }
    .nav-bar-input-txt {
        font-size: 12px;
    }
    .btn--dark {
        font-size: 12px;
    }
}
@media only screen and (max-width:800px){
    .page__title {
        font-size: 28px;
    }
    .min-title {
        font-size: 22px;
    }
    .info-txt {
        font-size: 15px;
    }
}
@media only screen and (max-width:600px){
    .page__title {
        font-size: 26px;
    }
    .min-title {
        font-size: 20px;
    }
    .info-txt {
        font-size: 14px;
    }
}
@media only screen and (max-width:500px){
    .page__title {
        font-size: 24px;
    }
    .min-title {
        font-size: 18px;
    }
    .info-txt {
        font-size: 13px;
    }
}
@media only screen and (max-width:400px){
    .page__title {
        font-size: 20px;
    }
    .min-title {
        font-size: 16px;
    }
    .info-txt {
        font-size: 12px;
    }
}
