@use 'base/fonts';

@import 'components/cards';
@import 'components/itemcard';
@import 'components/buttons';



.h1--title {
    color: $beige;
    text-shadow: 2px 2px 2px $maroon;
}
.section--title {
    color: $dark-green;
}
.a--link {
    font-size: 16px; //adjust if needed
    color: $dark-green;
}
.a--link:hover{
    color: $link-hover-green;
}
.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.d-block--h{
    height: 90vh;
}