@use 'base/fonts';

@import 'pages/categories';
@import 'main';
@import 'components/buttons';
@import 'components/cards';
@import 'base/style';
@import 'components/itemcard';
@import 'startpage';
body {
    font-family: fonts.$font;
    background-color: fonts.$beige;
}
@import 'nav';
