.card--custom {
  border: 3px solid #E1EEDD;
  background-color: #FEFCF0;
  opacity: 0.8;
}

.card__title {
  font-size: 20px;
  color: #2A5138;
  text-align: center;
}

.card__txt {
  font-size: 14px;
  color: #2A5138;
}

.card:hover {
  border: 2px solid #2A5138;
  opacity: 1;
}

.btn--light {
  background-color: #E1EEDD;
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 16px;
  border-radius: 1px;
}

.btn--dark {
  background-color: #2A5138;
  font-family: "Montserrat", sans-serif;
  color: #FEFCF0 !important;
  font-size: 16px;
  border-radius: 1px;
}

.btn:hover {
  background-color: #F0A04B;
  cursor: pointer;
  color: #FEFCF0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FEFCF0;
}

.title--categories {
  color: #2A5138;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FEFCF0;
}

.btn--light {
  background-color: #E1EEDD;
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 16px;
  border-radius: 1px;
}

.btn--dark {
  background-color: #2A5138;
  font-family: "Montserrat", sans-serif;
  color: #FEFCF0 !important;
  font-size: 16px;
  border-radius: 1px;
}

.btn:hover {
  background-color: #F0A04B;
  cursor: pointer;
  color: #FEFCF0;
}

.card--custom {
  border: 3px solid #E1EEDD;
  background-color: #FEFCF0;
  opacity: 0.8;
}

.card__title {
  font-size: 20px;
  color: #2A5138;
  text-align: center;
}

.card__txt {
  font-size: 14px;
  color: #2A5138;
}

.card:hover {
  border: 2px solid #2A5138;
  opacity: 1;
}

/*Customized styling for the navbar*/
.nav-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sub-menu-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link-customize {
  color: #2A5138;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-link-customize:hover, .nav-link-customize:active {
  color: #F0A04B;
}

.display-right-ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .display-right-ss {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* ============ small devices .end// ============ */
.btn--light {
  background-color: #E1EEDD;
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 16px;
  border-radius: 1px;
}

.btn--dark {
  background-color: #2A5138;
  font-family: "Montserrat", sans-serif;
  color: #FEFCF0 !important;
  font-size: 16px;
  border-radius: 1px;
}

.btn:hover {
  background-color: #F0A04B;
  cursor: pointer;
  color: #FEFCF0;
}

.page__title {
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 32px;
  text-align: center;
}

.min-title {
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 24px;
}

.info-txt {
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 16px;
}

a:link {
  text-decoration: none;
  color: #2A5138;
  font-size: 16px;
}

.nav-bar-input-txt {
  font-size: 14px;
  max-width: 210px;
}
.nav-bar-input-txt:focus, .nav-bar-input-txt:active, .nav-bar-input-txt:hover {
  outline: 0.125rem solid #F0A04B;
  -webkit-box-shadow: 0 0 0 0.125rem #F0A04B;
          box-shadow: 0 0 0 0.125rem #F0A04B;
}

.footer-input-txt {
  font-size: 14px;
  max-width: 360px;
}
.footer-input-txt:focus, .footer-input-txt:active, .footer-input-txt:hover {
  outline: 0.125rem solid #F0A04B;
  -webkit-box-shadow: 0 0 0 0.125rem #F0A04B;
          box-shadow: 0 0 0 0.125rem #F0A04B;
}

/* a:visited {
    color: cornflowerblue;
} */
a:hover {
  color: #F0A04B;
  cursor: pointer;
}

@media only screen and (max-width: 1086px) {
  a:link {
    font-size: 14px;
  }

  .btn--dark {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1028px) {
  a:link {
    font-size: 13px;
  }

  .nav-bar-input-txt {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  .page__title {
    font-size: 28px;
  }

  .min-title {
    font-size: 22px;
  }

  .info-txt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .page__title {
    font-size: 26px;
  }

  .min-title {
    font-size: 20px;
  }

  .info-txt {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .page__title {
    font-size: 24px;
  }

  .min-title {
    font-size: 18px;
  }

  .info-txt {
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  .page__title {
    font-size: 20px;
  }

  .min-title {
    font-size: 16px;
  }

  .info-txt {
    font-size: 12px;
  }
}
.box {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1);
          box-shadow: rgba(0, 0, 0, 0.1);
}

.box:before {
  opacity: 0.9;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: animate 5s infinite linear;
          animation: animate 5s infinite linear;
}

.box:hover:before {
  height: 200px;
  width: 280px;
  top: -55px;
  right: -37px;
  z-index: 1;
}

.box img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.box .box-content {
  color: #fff;
  text-align: left;
  width: 200px;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover .box-content {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
  top: 30px;
}

.box .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin: 0 0 2px;
}

.box .post {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: block;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 5px;
  left: 13px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.box .icon li a {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 7px 0;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: animate 5s infinite linear;
          animation: animate 5s infinite linear;
}

.box .icon li a:hover {
  color: #F0A04B;
}

@media only screen and (max-width: 990px) {
  .box {
    margin: 0 0 30px;
  }
}
.card--custom {
  border: 3px solid #E1EEDD;
  background-color: #FEFCF0;
  opacity: 0.8;
}

.card__title {
  font-size: 20px;
  color: #2A5138;
  text-align: center;
}

.card__txt {
  font-size: 14px;
  color: #2A5138;
}

.card:hover {
  border: 2px solid #2A5138;
  opacity: 1;
}

.box {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1);
          box-shadow: rgba(0, 0, 0, 0.1);
}

.box:before {
  opacity: 0.9;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: animate 5s infinite linear;
          animation: animate 5s infinite linear;
}

.box:hover:before {
  height: 200px;
  width: 280px;
  top: -55px;
  right: -37px;
  z-index: 1;
}

.box img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.box .box-content {
  color: #fff;
  text-align: left;
  width: 200px;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box:hover .box-content {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
  top: 30px;
}

.box .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin: 0 0 2px;
}

.box .post {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: block;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 5px;
  left: 13px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.box .icon li a {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 7px 0;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: animate 5s infinite linear;
          animation: animate 5s infinite linear;
}

.box .icon li a:hover {
  color: #F0A04B;
}

@media only screen and (max-width: 990px) {
  .box {
    margin: 0 0 30px;
  }
}
.btn--light {
  background-color: #E1EEDD;
  font-family: "Montserrat", sans-serif;
  color: #2A5138;
  font-size: 16px;
  border-radius: 1px;
}

.btn--dark {
  background-color: #2A5138;
  font-family: "Montserrat", sans-serif;
  color: #FEFCF0 !important;
  font-size: 16px;
  border-radius: 1px;
}

.btn:hover {
  background-color: #F0A04B;
  cursor: pointer;
  color: #FEFCF0;
}

.h1--title {
  color: #FEFCF0;
  text-shadow: 2px 2px 2px #580a0a;
}

.section--title {
  color: #2A5138;
}

.a--link {
  font-size: 16px;
  color: #2A5138;
}

.a--link:hover {
  color: #F0A04B;
  cursor: pointer;
}

.carousel-content {
  position: absolute;
  top: 74%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 70%;
}

.d-block--h {
  height: 90vh;
  min-height: 310px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FEFCF0;
}

/*Break points for header and navbar*/
.cart {
  max-width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart__icon {
  width: 65%;
}

a,
button {
  font-family: "Montserrat", sans-serif;
}

.dropdown {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  position: relative;
}

.products ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170%;
  background: #E1EEDD;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  list-style: none;
  border-radius: 6px;
}

.products li {
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products li:hover {
  background-color: #a5cc99;
}

.dropdown-link-customize {
  color: #2A5138;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.dropdown-link-customize:hover, .dropdown-link-customize:focus {
  color: #2A5138;
}

.dropdown button {
  background: none;
  text-decoration: none;
  border: none;
  color: #2A5138;
  font-size: 24px;
  cursor: pointer;
}

.products button:focus + ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/*Customized styling for the navbar*/
.nav-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sub-menu-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link-customize {
  color: #2A5138;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-link-customize:hover, .nav-link-customize:active {
  color: #F0A04B;
}

.display-right-ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .display-right-ss {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* ============ small devices .end// ============ */
/*Customized styling for the navbar*/
.nav-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sub-menu-customize {
  background-color: #E1EEDD;
  border: 0;
  border-style: none;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link-customize {
  color: #2A5138;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-link-customize:hover, .nav-link-customize:active {
  color: #F0A04B;
}

.display-right-ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .display-right-ss {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* ============ small devices .end// ============ */
.header {
  background-color: #E1EEDD;
  margin-bottom: 3%;
  position: sticky;
  top: 0;
}